* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
  border: 1px solid #e1dfdf;
  border-radius: 20px;
  margin-right: 10px;
  width: 15px;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb:hover {
  background: #e1dfdf;
}
.calendar-all{
    height: 100vh;
    flex-direction: column;
    display: flex;
    background-color: #F6F7F8;
    padding-top: 30px;
}
.title {
  text-align: left;
  margin-top: 25px;
  color: #343434;
  font-size: 30px;
  font-weight: bold;
  margin-left: 5%;
}
.cont {
  margin-top: 20px;
  height: 500px;
  width: 100%;
  justify-content: center;
  gap: 20px;
  display: flex;
}

.calendar-container {
  width: 500px;
  background-color: #fff;
  border: 1px solid #e1dfdf;
  border-radius: 20px;
}

.events-container {
  padding-top: 10px;
  width: 350px;
  overflow-y: auto;
  max-height: calc(100vh - 40px);
  background-color: #fff;
  border: 1px solid #e1dfdf;
  border-radius: 20px;
}

.calendar-container header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

header .icons {
  display: flex;
}

header .icons i {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}

.icons i:last-child {
  margin-right: -10px;
}

header .icons i:hover {
  background: #f2f2f2;
}

header .current-date {
  font-size: 1.45rem;
  font-weight: 500;
}

.calendar {
  padding: 20px;
}

.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.calendar .days {
  margin-bottom: 20px;
}

.calendar li {
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}

.calendar .weeks li {
  font-weight: 500;
  cursor: default;
}

.calendar .days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}

.days li.active, .days li.has-event, .days li.has-current, .days li.done-events{
  color: white;
}

.days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.days li.active::before {
  background: #392073;
} 
.days li.done-events::before {
  background: red;
}

.days li.has-current::before {
  background: #711f55;
}

.days li:not(.active):hover::before {
  background: #f2f2f2;
}

.days li.previous-month-day,
.days li.next-month-day {
  color: #aaa;
}

.days li.has-event::before {
  background: green;
}
.toggle-butt{
  border-radius: 20px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #e1dfdf;
  border-radius: 20px;
  padding: 8px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: #878787;
  user-select: none;
  border-radius: 50%;
}
.toggle-butt:hover{
  background-color: #e1dfdf;
}
.side-header {
  margin-top: -10px;
  margin-left: 15px;
  padding-left: 10px;
  padding-top: 25px;
  position: absolute;
  background-color: #fff;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-side-header{
  margin-left: 15px;
  padding-left: 10px;
  position: absolute;
  background-color: #fff;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.events-array {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.event-group {
  padding-top: 10px;
}
.events-header{
  font-size: 23px;
}
.event-title {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
  border: 1px solid #e1dfdf;
  border-radius: 20px;
}
.add-event-container{
  padding: 25px;
  background-color: #fff;
  border: 1px solid #e1dfdf;
  border-radius: 20px;
  width: 320px;
  max-height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.date-pick{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.example-full-width{
  background-color: #711f55;
  border-radius: 20px;
}
.date-picker-cont{
  border-radius: 20px;
}
#datePick{
  width: 250px;
  height: 40px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
}
input[type="time"] {
  height: 40px;
  width: 250px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
} 
input[type="time"]:focus {
  outline: none;
}
.description-container{
  margin-top: 10px;
}
.field{
  margin-top: 10px;
  width: 250px; 
  height: 150px; 
  border-radius: 20px;
  border: 1px solid #b8b4b4;
  padding-left: 23px;   
  font-size: 16px;
  letter-spacing: normal;
  padding: 20px;
  resize: none;
}

.add-event{
  width: 100%;
  height: 50px;
  font-size: 15px;
  border: none;
  background-color: #220B57;
  color: #fff;
  border-radius: 20px;
  padding: 8px;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-top: 7%;
  margin-bottom: 3%;
}

.add-event:hover{
  background-color: #5321c6;
}

.delete-event {
  border: none;
  background-color: #f44336;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 5px;
}

.des-check{
  display: flex;
  gap: 20px;
  align-items: center;
}
.time-des{
  padding-top: 13px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.bottom-delete{
  margin-left: 61px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 51;
  border-radius: 20px;
}
.del-events{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:end;
}
