<div class="cont">
    <div class="left-container">
        <i>side header</i>
    </div>
    <div class="container">
        <header>
            <p class="current-date">{{ currentMonth }} {{ currentYear }}</p>
            <div class="icons">
                <i class='bx bx-chevron-left bx-sm' (click)="previousMonth()"></i>
                <i class='bx bx-chevron-right bx-sm' (click)="nextMonth()"></i>
            </div>
        </header>
        <div class="calendar">
            <ul class="week">
                <li *ngFor="let day of weekDays">{{ day }}</li>
            </ul>
            <ul class="days">
                <li *ngFor="let day of days" [ngClass]="getClasses(day)">{{ day.day }}</li>
            </ul>
        </div>
    </div>
    <div class="sidecontainer">
        <div class="side-header">
            <h1>Events</h1>
        </div>
        <div class="events-array">
            <div *ngFor="let groupedEvents of groupEventsByDate(predefinedEvents)">
                <div class="event-group">
                    <h2>{{ groupedEvents.date | date: 'MMM d' }}</h2> <!-- Display date -->
                    <div class="event-title">        
                        <div *ngFor="let event of groupedEvents.events">
                            <p>{{ event.time }} - {{ event.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
