<button (click)="exportSales()">Export</button>

<ejs-chart [primaryXAxis]='xAxis' [primaryYAxis]='yAxis'
    [title]='chartTitle' [legendSettings]='legend' [tooltip]='tooltipSettings' [margin]='margin'>

    <e-series-collection> 
        <e-series type='Spline' [dataSource]='data' xName='date' yName='revenue'
        name='Sales' [marker]='markerSettings' fill='#220B57' width='4'>
        </e-series> 
        <e-series type='Spline' [dataSource]='data2' xName='date' yName='expenses'
        name='Expenses' [marker]='markerSettings' fill='#E25469' width='4'>
        </e-series>
        <e-series type='Spline' [dataSource]='data3' xName='date' yName='profit'
        name='Profit' [marker]='markerSettings' fill='#54e267' width='4'>
        </e-series>
    </e-series-collection>
    
</ejs-chart>

