* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
#saynap{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center; 
    overflow-y: auto;
    display: flex;
}
.loginpic{
    background-color: #220B57;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
.container{
    background-color: white;
    padding: 20px;
    flex: 1;
    height: 100vin;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 70px;
    opacity: 40%;
    margin-left: 38%;
}
.logotext{
    position: absolute;
    z-index: 1;
    top: 5%;
    left: 13%;
    font-size: 25px;
    font-weight: 1000;
    color: #220B57;
}
.logotext span{
    color: #9751D6;
}
.subtext{
    z-index: 1;
    font-size: 13px;
    font-style: italic;
    color: #5a585f;;
}
.field{
    width: 480px; 
    height: 45px; 
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #b8b4b4;
    padding-left: 23px;   
    font-size: 16px;
    letter-spacing: normal;
    margin-top: 0px;
}
.input-text{
    margin-bottom: 3px;
    margin-top: 3px;
}
.signupbtn{
    width: 100%;
    height: 50px;
    font-size: 15px;
    border: none;
    background-color: #220B57;
    color: #fff;
    border-radius: 20px;
    padding: 8px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
}
.int-text{
    padding: 8px;
}
.disabledsignupbtn{
    width: 100%;
    height: 50px;
    font-size: 15px;
    border: none;
    background-color: #2f1078ba;
    color: #fff;
    border-radius: 20px;
    padding: 8px;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-top: 7%;
    margin-bottom: 3%;
}
.lagin{
    text-decoration: none;
    color: #220B57;
}
.lagin:hover{
    text-decoration: underline;
}
.already{
    text-align: center;
}
.lastn{
    margin-left: 105px;
}
.formm{
    margin-top: 20px;
    color: #5a585f;
}
.view{
    cursor: pointer;
    position: absolute;
    max-width: 20px;
    top: 51.8%;
    left: 88%;
    opacity: 0;
}
.field:focus + .view{
    opacity: 100;
}
.viewconf{
    cursor: pointer;
    position: absolute;
    max-width: 20px;
    top: 64.5%;
    left: 88%;
    opacity: 0;
}
.field:focus + .viewconf{
    opacity: 100;
}
.field:focus{
    outline-color: #603EAE;
}
.nametop{
    display: flex;
}
.firstname-cont, .lastname-cont, .email-cont, .pass-cont, .confirm-cont{
    display: flex;
    flex-direction: row;
}
.confirm-cont{
    margin-bottom: 10px;
}
.login-logo{
    width: 230px;

}
.login-pic{
    margin-top: -80px;
    position: absolute;
    width: 500px;
}
.login-text{
    margin-top: 420px;
    width: 500px;
    color: white;
}
.pic-text{
    margin-top: 12px;
    font-size: 30px;
    letter-spacing: 3px;
}
.pic-text-small{
    font-size: 15px;
    letter-spacing: 3px;
    font-style: italic;
    color: #b8b4b4;
}
.input-cont{
    margin-top: -20px;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 1100px) {
    .loginpic{
        display: none;
    }
}

/* Customize the label (the container) */
.container-check {
    display: block;
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center; /* Vertically center the child elements */
    /* ... */
  }
  
  .container-check .check {
    /* Remove default appearance */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  
    /* Custom checkbox styles */
    width: 16px;
    height: 16px;
    border: none;
    background-color: #ccc;
    border-radius: 3px;
    outline: none;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  
    &:hover{
      cursor: pointer;
    }
  }
  
  .container-check .check:checked::before {
    content: "\2713";
    font-weight: 900;
    font-size: 16px; /* Adjust the font size */
    border-radius: 3px;
    color: #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the checkmark */
    display: block;
    width: 100%;
    text-align: center;
    line-height: 1; /* Ensure proper vertical centering */
    background-color: #220b57;
  }