<div id="saynap">
    <div class="container">
        <img src="assets/MoneyGer(2).png" class="logo">
        <h2 class="logotext">Welcome to Money<span>Ger</span></h2>
        <p class="subtext">Register for FREE. No credit card needed.</p>
        <form action="/url">
            <p>
                First Name Last Name
            </p>
            <label>
                <input type="text" required>
                <input type="text" required>
            </label>
            <label>
                <p>Company Name</p>
                <input class="field" type="text" required>
            </label>
            <label>
                <p>Work Email</p>
                <input class="field" type="text" required>
            </label>
            <label>
                <p>Password</p>
                <input class="field" type="password" required>
            </label>
            <label>
                <p>Confirm Password</p>
                <input class="field" type="password" required>
            </label><br>
            <button class="signupbtn">Sign Up</button>
        </form>
        <span class="already"><p>Already have an account? <a routerLink="/login">Log in</a></p></span>
    </div>
    
</div>