<div id="saynap">
    <div class="container">
        <img src="assets/MoneyGer(2).png" class="logo">
        <h2 class="logotext">Welcome to Money<span>Ger</span></h2>
        <p class="subtext">Register for FREE. No credit card needed.</p>
        <form class="formm" action="/url">
               <span>First Name</span><span class="lastn">Last Name</span>
            <label>
                <input type="text" class="fieldtop" required>
                <input type="text" class="fieldtop-right" required>
            </label>
            <label>
                Work Email
                <input class="field" type="text" required>
            </label>
            <label>
                Password
                <input class="field" type="password" required>
            </label>
            <label>
                Confirm Password
                <input class="field" type="password" required>
            </label><br>
            <button class="signupbtn">Sign Up</button>
        </form>
        <span class="already"><p>Already have an account? <a routerLink="/login">Log in</a></p></span>
    </div>
    
</div>