<div id="saynap">
    <div class="loginpic">
        <img src="assets/Login_pic.png" class="login-pic" alt="MoneyGer logo">
        <div class="login-text">
            <h5 class="pic-text">Systematize Your Business,</h5>
            <h5 class="pic-text">Enhance workflow.</h5>
            <h2 class="pic-text-small">CRM system for your small business</h2>
        </div>
    </div>
    <div class="container">
        <img src="assets/logo.png" class="login-logo" alt="MoneyGer logo">
        <p class="subtext">Register for FREE. No credit card needed.</p>
        <form class="formm" action="/url" [formGroup] = "form" (ngSubmit)="register()">
            @for(error of errors; track error){
                <div style="color:red">
                    <div class="text-xs">{{error.description}} </div><br>
                </div>
            }
            <div class="input-cont">
                <div class="firstname-cont">
                    <label class="input-text">
                        <p class="input-text">First Name</p>
                        <input type="text" class="field"  formControlName = "firstname" required >
                    </label>
                </div>
                <div class="lastname-cont">
                    <label class="input-text">
                        <p class="input-text">Last Name</p>
                        <input type="text" class="field" formControlName = "lastname" required>
                    </label>
                </div>          
                <div class="email-cont">
                    <label class="input-text">
                        <p class="input-text">Work Email</p>
                        <input class="field" type="text" formControlName = "email" required>
                    </label>
                </div>

                <div class="pass-cont">
                    <label class="input-text">
                        <p class="input-text">Password</p>
                        <input class="field" [type]="changetype?'password':'text'" formControlName = "password" required>
                    </label>
                </div>

                <div class="confirm-cont">
                    <label class="input-text">
                       <p class="input-text">Confirm Password</p>
                        <input class="field" [type]="changetype?'password':'text'" formControlName = "confirmPassword" required><br>
                            <span style="color: red;"*ngIf="form.hasError('passwordMismatch') && form.get('confirmPassword')?.dirty && form.get('confirmPassword')?.touched">
                                Passwords do not match.
                            </span>
                    </label>
                </div>

                <label class="container-check">
                    <input type="checkbox" (click)="viewpass()" class="check">Show passwords
                  </label>
            </div>
            <button class="signupbtn"  type="submit">
                <p class="int-text" *ngIf="!loading">Signup</p>
                <mat-spinner *ngIf="loading" [diameter]="30" color="primary" ></mat-spinner>
            </button>
        </form>
        <span class="already"><p>Already have an account? <a class="lagin" routerLink="/login">Log in</a></p></span>
    </div>
    
</div>
