<div class="edit-profile">
    <div class="edit-cont">
        <div class="profile">
            <p>Add a Contact</p>
        </div>
        <div class="form">
            <div class="name">
                <div class="first-name">
                  <label for="first-name">First Name</label>
                  <input type="text" id="first-name" placeholder="First Name" name="First" [(ngModel)]="firstName" (ngModelChange)="updateFullName()" required>
                </div>
                <div class="last-name">
                  <label for="last-name">Last Name</label>
                  <input type="text" id="last-name" placeholder="Last Name" name="Last" [(ngModel)]="lastName" (ngModelChange)="updateFullName()" required>
                </div>
                <input type="hidden" [(ngModel)]="newContact.name">
              </div>
            <label for="phone">Phone Number</label>
            <input type="text" id="phone" placeholder="Phone Number" [(ngModel)] = "newContact.phoneNumber" name ="phone">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Email" [(ngModel)] = "newContact.email" name ="email">
            <label for="facebook">Facebook</label>
            <input type="text" id="facebook" placeholder="Facebook" [(ngModel)] = "newContact.facebook" name ="fb">
            
            <!--Pahelp company name na input-->
            <label for="company-name">Company Name</label>
            <input type="text" id="company-name" placeholder="Company Name" name ="fb"> 
            
            <label for="twitter">Twitter / X</label>
            <input type="text" id="twitter" placeholder="Twitter / X" [(ngModel)] = "newContact.twitter" name ="twitter">
            <label for="instagram">Instagram</label>
            <input type="text" id="instagram" placeholder="Instagram" [(ngModel)] = "newContact.instagram" name ="ig">
        </div>
        <div class="actions">
            <button class="cancel" routerLink="/user/contacts">Cancel</button>
            <button class="save" (click)="addContact()">Save</button>
        </div>
    </div>
</div>