<div class="landing">
    <app-header></app-header>
    <div class="content">

        <!-----------------------------------Home----------------------------------------->

        <div id="home">
            <div class="homecont">
                <div class="text">
                    <p class="header-text">Level up your small <span>business management</span> game plan.</p>
                    <div class="description">
                        Level up your small business management game plan with MoneyGer. Stay connected with customers, nurture those valuable bonds, and make smart decisions powered by insightful data - all while running an efficient, growth-focused business. 
                    </div>
                    <div class="button-container">
                        <button routerLink="/login" class="get-started">Get Started</button>
                    </div>
                </div>
                <div class="image">
                    <img src="assets/hero_img.png">
                </div>
            </div>    
        </div>

        <!---------------------------------Features----------------------------------------->

        <div id="features">
            <div class="featcont">
                <div class="feat-img">
                    <img src="assets/graph.png">
                </div>
                <div class="feat-text">
                    <p class="featheader">Your intuitive toolset for small business growth.</p>
                    <div class="feat-desc">
                        With MoneyGer, manage your business to success with the help of these useful features.
                    </div>

                    <div class="list">
                        <div class="firstcol">
                            <div class="track-prog">
                                <img src="assets/progress.png">
                                <p>Track Progress</p>
                            </div>
                            <div class="visual-sales">
                                <img src="assets/pieIcon.png">
                                <p>Visual Sales</p>
                            </div>
                        </div>
                        <div class="secondcol">
                            <div class="team-manage">
                                <img src="assets/team.png">
                                <p>Team Management</p>
                            </div>
                            <div class="pos">
                                <img src="assets/pos.png">
                                <p>Built-in PoS</p>
                            </div>
                        </div>
                    </div>

                    <div class="create" routerLink="/signup">
                        <p>Create an account</p>
                        <img src="assets/arrowright.png">
                    </div>
                </div>
            </div>
        </div>

        <!----------------------------------------------------ABOUT----------------------------------------------->

        <div id="about">
            <div class="about-text">
                <p class="about-header">Meet the Team</p>
                <p class="about-desc">Get to know the brilliant minds that made this project possible!</p>
            </div>
            <div class="about-people">
                <div class="james">
                    <img src="assets/retubado.png" class="about-img">
                    <div class="name-role">
                        <p class="name">James Kenneth<br>Retubado</p>
                        <p class="role">Full-stack Developer</p>
                    </div>
                </div>
                <div class="jermyne">
                    <img src="assets/kaquilala.jpg" class="about-img">
                    <div class="name-role">
                        <p class="name">Jermyne Josh<br>Kaquilala</p>
                        <p class="role">UI/UX Designer<br>Frontend Developer</p>
                    </div>
                </div>
                <div class="ronerr">
                    <img src="assets/villacarlos.jpg" class="about-img">
                    <div class="name-role">
                        <p class="name">Ronerr<br>Villacarlos</p>
                        <p class="role">Project Manager<br>Backend Developer</p>
                    </div> 
                </div>
                <div class="jule">
                    <img src="assets/quijano.jpg" class="about-img">
                    <div class="name-role">
                        <p class="name">Jule Jerrish<br>Quijano</p>
                        <p class="role">UI/UX Designer<br>Frontend Developer</p>
                    </div>
                </div>
            </div>
        </div>

        <!------------------------------------------------CONTACT---------------------------------------------->
        <div id="contact">
            <div class="contact-cont">
                <div class="first-col">
                    <img src="assets/logo.png">
                    <p>Sytematize your business, enhance your workflow.</p>
                </div>
                <div class="divider">
                    <div class="second-col">
                        <p class="contact-header">Company</p>
                        <div class="contact-menu">
                            <p>Home</p>
                            <p>Features</p>
                            <p>About</p>
                            <p>Contact</p>
                        </div>
                    </div>
                    <div class="third-col">
                        <p class="contact-header">Help</p>
                        <div class="contact-menu">
                            <p>Terms & Conditions</p>
                            <p>Privacy Policy</p>
                            <p>Customer Support</p>
                        </div>
                    </div>
                    <div class="fourth-col">
                        <p class="contact-header">Popular Link</p>
                        <div class="contact-menu">
                            <p>Business Website</p>
                            <p>CRM Website</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                All Rights Reserved MoneyGer 2024 
            </div>
        </div>
    </div>
</div>


