<div class="landing">
    <app-header></app-header>
    <div class="content">
        <div id="home">
            <div class="homecont">
                <div class="text">
                    <p class="header-text">Level up your small <span>business management</span> game plan.</p>
                    <div class="description">
                        Level up your small business management game plan with MoneyGer. Stay connected with customers, nurture those valuable bonds, and make smart decisions powered by insightful data - all while running an efficient, growth-focused business. 
                    </div>
                    <button routerLink="/login" class="get-started">Get Started</button>
                </div>
                <div class="image">
                    <img src="assets/hero_img.png">
                </div>
            </div>    
        </div>
        <div id="features">
            <div class="featcont">
                <div class="feat-img">
                    <img src="assets/graph.png">
                </div>
                <div class="feat-text">
                    <p class="featheader">Your intuitive toolset for small business growth.</p>
                    <p>With MoneyGer, manage your business to success with the help of these useful features.</p>
                </div>
            </div>
        </div>
        <div id="about">
            
        </div>
        <div id="contact">
            
        </div>
    </div>
</div>


