<div id="tibuok">
    <div class="parent">
        <p class="title">Inventory</p>
        <div class="anak">
            <div class="search-bar">
                <input type="text" placeholder="Search..." [(ngModel)]="searchText">
            </div>
            
            <i class='bx bxs-plus-circle bx-md' *ngIf="!isAnyCheckboxChecked()" (click)="addItem()" style="cursor: pointer; margin-top: 2%;"></i>
            <i class='bx bxs-trash bx-md' *ngIf="isAnyCheckboxChecked()" (click)="deleteSelectedItems()" style="cursor: pointer; margin-top: 2%;"></i>

        </div>
    </div>
    
    
    <div class="main">
        <div class="table-container">
            <table class="table" >
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th class="sortable-header">
                            <div class="header-content">
                                <span>ID</span>
                            </div>
                        </th>
    
                        <th class="sortable-header">
                            <div class="header-content">
                                <span>Name</span>
                            </div>
                        </th>
    
                        <th class="sortable-header">
                            <div class="header-content">
                                <span>Stock</span>
                            </div>
                        </th>

                        <th class="sortable-header">
                            <div class="header-content">
                                <span>Price</span>
                            </div>
                        </th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let inv of inventory | search: searchText">
                        <td><input type="checkbox" class="check" (change)="onCheckboxChange(inv.id, $event)"></td>
                        <td><i (click)="editItem()" class='bx bxs-pencil' style="color: #676565;"></i></td>
                        <td>{{inv.id}}</td>
                        <td><a>{{inv.product}}</a></td>
                        <td><a>{{inv.quantity}}</a></td>
                        <td><a>{{inv.price}}</a></td>
                      
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>
