<div id="tibuok">
    <div class="parent">
        <p class="title">Inventory</p>
        <div class="anak">
            <div class="search-bar">
                <input type="text" placeholder="Search..." [(ngModel)]="searchText">
            </div>
            
            <i class='bx bxs-plus-circle bx-md' (click)="addItem()" *ngIf="!isAnyCheckboxChecked()" style="cursor: pointer; margin-top: 2%;"></i>
            <i class='bx bxs-trash bx-md' *ngIf="isAnyCheckboxChecked()" style="cursor: pointer; margin-top: 2%;"></i>

        </div>
    </div>
    
    
    <div class="main">
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th class="sortable-header">
                            <div class="header-content">
                                <span>ID</span>
                            </div>
                        </th>
    
                        <th class="sortable-header">
                            <div class="header-content">
                                <span>Name</span>
                            </div>
                        </th>
    
                        <th class="sortable-header">
                            <div class="header-content">
                                <span>Stock</span>
                            </div>
                        </th>

                        <th class="sortable-header">
                            <div class="header-content">
                                <span>Price</span>
                            </div>
                        </th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" class="check"></td>
                        <td><i (click)="editItem()" class='bx bxs-pencil' style="color: #676565;"></i></td>
                        <td>6969</td>
                        <td><a>Shabu</a></td>
                        <td><a>420</a></td>
                        <td><a>69420</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>
