@if(isLoggedIn()){
    <div class="edit-profile" *ngIf="authService.getUserDetail() as userDetail">
        <div class="edit-cont">
            <div class="profile">
                <img src="assets/James.jpg" alt="Duck Illustration">
            </div>
            <div class="form">
                <div class="name">
                    <div class="first-name">
                        <label for="first-name">First Name</label>
                        <input type="text" class readonly id="first-name" placeholder="{{userDetail.firstname}}">
                    </div>
                    <div class="last-name">
                        <label for="last-name">Last Name</label>
                        <input type="text" class readonly id="last-name" placeholder="{{userDetail.lastname}}">
                    </div>
                </div>
                <label for="phone">Phone Number</label>
                <input type="text" id="phone"  [(ngModel)]="editProfileRequest.phoneNumber"  name="phonenumber"> 
                <label for="email">Email</label>
                <input type="email" class readonly id="email" placeholder="{{userDetail.email}}">
                <label for="facebook">Facebook</label>
                <input type="text" id="facebook"  [(ngModel)]="editProfileRequest.facebook" name="facebook">
                <label for="twitter">Twitter / X</label>
                <input type="text" id="twitter"  [(ngModel)]="editProfileRequest.twitter">
                <label for="instagram">Instagram</label>
                <input type="text" id="instagram" [(ngModel)]="editProfileRequest.instagram">
            </div>
            <div class="actions">
                <button class="cancel" (click)="gotoHome()">Cancel</button>
                 <button type="button" class="save" (click)="editProfile()">Save Profile</button>
            </div>
        </div>
    </div>}