<div id="forgotpass">
    <div class="fcontainer">
        <div class="left">
            <div class="text">
                <h2 class="header"><strong>Reset Password</strong></h2>
            <p class="sub">Enter the new password you wish to have. </p>
            </div>

            <!--<div class="emailtext">
                    <input readonly class="email" type="text" 
                        name="email" [(ngModel)] = "resetPassword.email" required>
            </div>-->

            <div class="emailtext">
                    <input placeholder="Enter new password" class="email" type="password" 
                        name="password" [(ngModel)] = "resetPassword.newPassword" required>
            </div>

            <div class="submit">
                <div>
                    <p><a class="back" routerLink="/login">Back to Login</a></p>
                </div>
                <div>
                    <button (click) = "resetPasswordHandle()" class="sendbutt" [disabled]="!resetPassword.email || !resetPassword.newPassword">
                        Reset Password
                    </button>
                </div>
            </div>
        </div>
        <div class="right">
            <img src="assets/lock.png" class="lock" alt="Lock Logo">
        </div>
    </div>
</div>