*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  ::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {
    background: white;
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #e1dfdf;
    border-radius: 20px;
  }
.pos-container{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center; 
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.top-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8%;
    padding-left: 20px;
}
.logout-cont{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
}
.name-cont{
    padding-top: 7px;
    margin-bottom: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.company-name{
    margin-top: 5px;
    font-size: 30px;
    font-style: italic;
    margin-left: 10px;
}
.bot-div{
    display: flex;
    justify-content: space-evenly;
    max-height: 90%;
}
.product-cont{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
}
.product-table{
    background-color: #469B44;
    margin: 10px;
    max-height: 65%;
    overflow-y: scroll;
    border-radius: 20px;
    outline: 1px solid #e1dfdf;
}
.bottom-content{
    display: flex;
}
.cart-cont{
    margin: 10px;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 35px
}
.cart-table-out{
    overflow-y: scroll;
    height: 75%;
    border-radius: 20px;
    outline: 1px solid #e1dfdf;
}
.total-cont{
    padding: 23px;
    border-radius: 20px;
    outline: 1px solid #e1dfdf;
    display: flex;
    flex-direction: column;
}
.cart-table{
    width: 10%;
}
.bottom-content{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.expend-cont{
    width: 25%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    border-radius: 20px;
    outline: 1px solid #e1dfdf;
}
.display-rev{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 30px;
    border-radius: 20px;
    outline: 1px solid #e1dfdf;
    width: 30%;
}
.control-cont{
    width: 40%;
    border-radius: 20px;
    outline: 1px solid #e1dfdf;
    padding: 30px;
    color: black;
}

.downside, .upside{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}
.butt-cont{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 }












 .selected {
    background-color: #96949C; /* Change this to your preferred highlight color */
  }
 .add, .pay, .cancel{
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 20px;
 }
 .expense{
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 20px;
 }
 .sign-out{

    color: white;
    width: 100px;
    height: 40px;
    border-radius: 20px;
 }
 .add:hover, .pay:hover, .cancel:hover, .expense:hover, .sign-out:hover{
    background-color: white;
    color: black;
 }
 .add, .expense{
    background-color: #32107F;
 }
 .pay{
    background-color: #469B44;
 }
 .cancel, .sign-out{
    background-color: #FF3131;
 }
.qfield{
    height: 30px;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #b8b4b4;
    padding-left: 23px;
    font-size: 16px;
    letter-spacing: normal;
}
.exfield{
    height: 30px;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #b8b4b4;
    padding-left: 23px;
    font-size: 16px;
    letter-spacing: normal;
}
 
 