<div class="pos-container">
  <!---------------------------------Header----------------------------->
  <div class="top-div">
    <div class="title-cont">
      <strong><p class="company-name">Ronskie’s IT Solution</p></strong>
    </div>
    <div class="logout-cont" *ngIf=" userDetail | async as detail">
      <div class="name-cont">
        <strong><p>Staff: {{detail.user | titlecase}} - {{detail.company | titlecase}}</p></strong>
      </div>
      <div class="signout-cont">
        <button class="sign-out">Sign Out</button>
      </div>
    </div>
  </div>
  <!---------------------------------Content Bottom----------------------------->
  <div class="bot-div">
    <!---------------------------------Left Container----------------------------->
    <div class="product-cont">
      <!---------------------------------Product Table----------------------------->
      <div class="product-table">
        <table mat-table [dataSource]="dataSource_prod" class="prod-table">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let product"> {{product.id}} </td>
          </ng-container>
  
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let product"> {{product.name}} </td>
          </ng-container>
  
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let product"> {{product.quantity}} </td>
          </ng-container>
  
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let product"> <span>$</span> {{product.price}} </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let product; index as i; columns: displayedColumns;"
              (click)="selectProduct(product)"
              [class.selected]="selectedProduct === product"></tr>
        </table>
      </div>
      <div class="bottom-content">
        <div *ngFor="let sale of sales" class="display-rev">
          <h1>Financial Status</h1>
          <p>Profit: {{sale.expenses}}</p>
          <p>Revenue: 20000</p>
          <p>Expendetures: 20000</p>
        </div>
        <!---------------------------------Add Expendeture----------------------------->
        <div class="expend-cont">
          <div class="input-div"></div>
          <input class="exfield" [(ngModel)]="expendetureValue" 
                   type="number"     
                   min="0">
          <button class="expense" (click)="addExpense()">Add Expendeture</button>
        </div>
        <!-------------------------------Controller------------------------------->
        <div class="control-cont">
          <div class="details">
            <p>Product: {{selectedProduct?.name}}</p>
            <p>Quantity: 
            <input class="qfield" [(ngModel)]="inputQuantity" 
                   type="number"     
                   min="0" 
                   [max]="selectedProduct?.quantity ?? 0">
          </div>
          <div class="butt-cont">       
              <button class="add" (click)="addToCart()">Add</button>
              <button class="pay" (click)="addSale()">Pay</button>
              <button class="cancel" (click)="cancelOrder()">Cancel Order</button>
          </div>
        </div>
      </div>
    </div>
    <!---------------------------------Right Container----------------------------->
    <div class="cart-cont">
      <!---------------------------------Cart Table----------------------------->
      <div class="cart-table-out">
        <table mat-table [dataSource]="dataSource_cart" class="cart-table">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let item"> {{item.name}} </td>
          </ng-container>
          
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let item"> {{item.quantity}} </td>
          </ng-container>
          
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let item"> <span>$</span> {{item.price}} </td>
          </ng-container>
          
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let item">
              <button mat-button (click)="deleteFromCart(item.name)">X</button>
            </td>
          </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns_cart"></tr>
          <tr mat-row *matRowDef="let item; columns: displayedColumns_cart;"></tr>
        </table>
      </div>
      <!---------------------------------Total----------------------------->
      <div class="total-cont">
        <div class="upside">
          <p>Total Quantity<p>
          <strong><p>{{ getTotalQuantity() }}</p></strong>
        </div>
        <div class="downside">
          <p>Total</p>
          <strong><p>P {{ getTotalPrice() }}</p></strong>
        </div>
      </div>
    </div>
  </div>
</div>
