    <div class="button-cont">
        <button id="butt" (click)="exportSegmentation()">Export</button>
    </div>
        
    <ejs-accumulationchart [title]='chartTitle' [legendSettings]='legend' [tooltip]='tooltipSettings'>
        <e-accumulation-series-collection>
            <e-accumulation-series type='Pie' [dataSource]='data' xName='product' yName='sold'
            [dataLabel]='chartLabel' innerRadius='50%'>
            </e-accumulation-series>
        </e-accumulation-series-collection>
    </ejs-accumulationchart>

