<div class="cnter">
    <div class="exit-button">
        <div class="clows">
            <i class='bx bx-x bx-sm' (click)="closeDialog()"></i>
        </div>
    </div>

    <div class="joinco">
        <p Create class="title">Add an Employee</p>
        <form action="/url">
            <label>
                <p class="leybel">Enter employee's email address.</p>
                <input class="company-code" type="email" name = "email" [(ngModel)] = "email" required placeholder="email@example.com">
            </label>

            <button class="createbutt" (click)="addEmployee()">
                <div *ngIf="!loading">Send Invite</div>
                <mat-spinner *ngIf="loading" [diameter]="30" color="primary"></mat-spinner>
            </button>
        </form>
    </div>
</div>


