<div class="cnter">
    <div class="exit-button">
        <div class="clows">
            <i class='bx bx-x bx-sm' (click)="closeDialog()"></i>
        </div>
    </div>

    <div class="joinco">
        <p Create class="title">Add an Employee</p>
        <form action="/url">
            <label>
                <p class="leybel">Enter employee's email address.</p>
                <input class="company-code" type="text" name = "companyId" required placeholder="JuleLoveHollie@gmail.com">
            </label>

            <button class="createbutt">Send Invite</button>
        </form>
    </div>
</div>


