<div class="profile">
    <div class="profile-cont">
        <div class="button">
            <button routerLink="/user/edit-profile">Edit Profile</button>
        </div>
        <div class="main-prof">
            <img src="assets/James.jpg">
            <div class="name-details">
                <p class="name">Jule Dela Juan</p>
                <div class="details">
                    <p class="phone">09453395681</p>
                    <p class="email">juledelajuan&#64;gmail.com</p>
                </div>
            </div>
        </div>
        <div class="socials">
            <div class="inner-social">
                <div class="facebook">
                    <div class="icon">
                        <i class='bx bxl-facebook-circle bx-md'></i>
                    </div>
                    <div class="social-name">
                        <p>www.facebook.com/juledelajuan</p>
                    </div>
                </div>
                <div class="twitter">
                    <div class="icon">
                        <i class='bx bxl-twitter bx-md'></i>
                    </div>
                    <div class="social-name">
                        <p>www.twitter.com/juledelajuanzzz</p>
                    </div>
                </div>
                <div class="instagram">
                    <div class="icon">
                        <i class='bx bxl-instagram bx-md'></i>
                    </div>
                    <div class="social-name">
                        <p>www.instagram.com/juledelajuanz</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
