<div id="sidebar">
    <div class="logo">
        <img src="assets/logo.png">
    </div>

    <div class="profile" *ngIf=" userDetail | async as detail">
        <div class="image">
            <img src="assets/James.jpg" (click)="openProfile()">
        </div>

        <div class="name" (click)="openProfile()">
            {{detail.user| titlecase}}
        </div>

        <div class="role">
            {{detail.role | titlecase}}
        </div>
    </div>

    <div class="actions">
        <div class="actions-cont" routerLink="/user/home">
            <div class="icon">
                <i class='bx bx-home bx-sm'></i>
            </div>
            <div class="icon-name">
                Home
            </div>
        </div>

        <div class="actions-cont" routerLink="/user/employees">
            <div class="icon">
                <i class='bx bx-user bx-sm'></i>
            </div>
            <div class="icon-name">
                Employees
            </div>
        </div>

        <div class="actions-cont" routerLink="/user/contacts">
            <div class="icon">
                <i class='bx bxs-contact bx-sm'></i>
            </div>
            <div class="icon-name">
                Contacts
            </div>
        </div>

        <div class="actions-cont" routerLink="/user/inventory">
            <div class="icon">
                <i class='bx bx-box bx-sm'></i>
            </div>
            <div class="icon-name">
                Inventory
            </div>
        </div>

        <div class="actions-cont" routerLink="statistics">
            <div class="icon">
                <i class='bx bx-line-chart bx-sm'></i>
            </div>
            <div class="icon-name">
                Statistics
            </div>
        </div>

        <div class="actions-cont" routerLink="/user/calendar">
            <div class="icon">
                <i class='bx bx-calendar bx-sm' ></i>
            </div>
            <div class="icon-name">
                Calendar
            </div>
        </div>

        <div class="actions-cont" (click)="logout()">
            <div class="icon">
                <i class='bx bx-exit bx-sm'></i>
            </div>
            <div class="icon-name">
                Logout
            </div>
        </div>
    </div>
</div>