
<div class="sideBar" [class.active]="isActive">
    <div class="top">
        <div class="menu">
            <img src="assets/mg_logo.png" class="sb_logo" alt="MoneyGer logo">
            <i class='bx bx-menu' id="btn" (click)="toggleSidebar()"></i>
        </div>
 
        <div class="nav-list">
            <ul>
                <li>
                    <a href="#">
                        <i class='bx bx-home bx-sm'></i>
                        <span class="nav-item">Home</span>
                    </a>
                    <span class="tooltip">Home</span>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-list-ul bx-sm'></i>
                        <span class="nav-item">List</span>
                    </a>
                    <span class="tooltip">List</span>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-group bx-sm'></i>
                        <span class="nav-item">Contacts</span>
                    </a>
                    <span class="tooltip">Contacts</span>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-box bx-sm'></i>
                        <span class="nav-item">Orders</span>
                    </a>
                    <span class="tooltip">Orders</span>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-line-chart bx-sm'> </i>
                        <span class="nav-item">Statistics</span>
                    </a>
                    <span class="tooltip">Statistics</span>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-calendar bx-sm'></i>
                        <span class="nav-item">Calendar</span>
                    </a>
                    <span class="tooltip">Calendar</span>
                </li>
            </ul>           
        </div> 
    </div>
         
    <div class="bottom">
        <div class="user">
            <img src="assets/profile.jpg" class="profile" alt="Profile Picture">
            <div class="name">
                <div class="ign"><i>Juan Dela Cruz</i> <br></div>
                <i>Admin</i>
            </div>
        </div>
    </div>
</div>


