@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700;900&display=swap');

#sidebar{
    display: flex;
    flex-direction: column;
    width: 220px;
    background-color: #fff;
    border-right: 1px solid #e1dfdf;
    position: sticky;
    height: 100vh;
}

.logo{
    display: flex;
    justify-content: center;
}

.logo img{
    width: 150px;
    margin-top: 20px;
}

.profile{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image img{
    width: 70px;
    border-radius: 50%;
    outline: 2px solid #220B57;
    margin-bottom: 10px;

    &:hover{
        cursor: pointer;
    }
}

.name{
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;

    &:hover{
        text-decoration: underline;
    }
}

.role{
    color: #a5a4a4;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 20px;
}

.actions{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.actions-cont{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    height: 40px;

    &:hover{
        background-color: #cacaca;
    }
}

.icon{
    margin-left: 30px;
}

.icon-name{
    font-size: 15px;
    font-weight: 700;
    margin-left: 10px;
}