<div id="tibuok">
    <div class="parent">
        <p class="title">Settings</p>
    </div>
    
    
    <div class="main">

        <div class="profile-settings">

            <div class="setting-name">
                Profile Settings
            </div>

            <div class="actions-cont">
                <div class="profile-actions" routerLink="/user/edit-profile">
                    <i class='bx bxs-user-detail bx-md' style="margin-right: 15px;"></i>
                    Edit Profile Details
                </div>
    
                <div class="profile-actions">
                    <i class='bx bxs-lock-alt bx-md' style="margin-right: 15px; margin-left: -3px;"></i>
                    Change Password
                </div>
    
                <div class="profile-actions" (click)="deleteAction('Account')">
                    <i class='bx bxs-user-x bx-md' style="margin-right: 12px;"></i>
                    Delete Account
                </div>  
            </div>

        </div>

        <div class="company-settings">

            <div class="setting-name">
                Company Settings
            </div>

            <div class="actions-cont">
                <div class="profile-actions">
                    <i class='bx bxs-file-export bx-sm' style="margin-right: 15px;"></i>
                    Export Data
                </div>

                <div class="profile-actions" (click)="editCompany()">
                    <i class='bx bxs-business bx-sm' style="margin-right: 15px;"></i>
                    Edit Company Details
                </div>
    
                <div class="profile-actions" (click)="deleteAction('Business Data')">
                    <i class='bx bxs-folder-minus bx-sm' style="margin-right: 15px;" ></i>
                    Clear Business Data
                </div>

                <div class="profile-actions" (click)="deleteAction('Company')">
                    <i class='bx bxs-trash bx-sm' style="margin-right: 15px;" ></i>
                    Delete Company
                </div>
            </div>

        </div>


        <div class="report-issues">
            <button class="report-butt" (click)="reportIssue()">
                <i class='bx bx-bug-alt bx-sm'></i>
                Report issues
            </button>
        </div>

    </div>
    
</div>
