* {
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFF;
    overscroll-behavior: inherit;
}
.dashboard {
    display: flex;
    flex-direction: row;
}
.content {
    width: 100%;
    height: 100%;
    margin-left: 200px;
    margin-right: 400px;
    overflow-x: auto;
}
.sidebar {
    position: fixed;
    z-index: 51;
}
.todolist {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 52;
    width: 400px;
    height: 100%;
}
.content.full-width {
    margin-right: 0;
}
.todolist.hidden {
    width: 0;
}

@media screen and (max-width: 1200px) {
    .sidebar {
        display: none;
    }

    .content {
        margin-left: 0;
    }
}
