* {
    font-family: 'Open Sans', sans-serif;
    background-color: #DACAFF;
    overscroll-behavior:inherit;
}
.dashboard{

    display: flex;
    flex-direction: row;
}
.content{
    width: 100%;
    height: 100%;
}