<div class="cnter">
    <div class="createco">
        <p Create class="title">Create a Company</p>
        <form action="/url">
            <label>
                <p class="leybel">Company Name</p>
                <input class="company-name" type="text" required>
            </label>
            <label>
                <p class="leybel">Company Address</p>
                <input class="company-address" type="text" required>
            </label>

            <button class="createbutt" (click)="CreateCompany()">Create Company</button>
            <button class="cancel" (click)="Cancel()">Cancel</button>
            
        </form>
    </div>
</div>


