<div class="cnter">
    <div class="createco">
        <p Create class="title">Create a Company</p>
        <form action="/url">
            <label>
                <p class="leybel">Company Name</p>
                <input class="company-name" [(ngModel)] = "makeCompany.name" name="name" type="text" required>
            </label>
            <label>
                <p class="leybel">Company Address</p>
                <input class="company-address" [(ngModel)] = "makeCompany.location" name="location" type="text" required>
            </label>

            <button class="createbutt" (click)="createCompany()">Create Company</button>
            <button class="cancel" (click)="Cancel()">Cancel</button>
            
        </form>
    </div>
</div>