* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.fcontainer {
    display: flex;
    justify-content: center;
    transition: all 0.3s ease;
    width: 100vw;
    height: 100vh;
}
.left{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
}
.lock{
    height: 500px;
    width: 500px;
}
.right{
    background-color: #220B57;
    flex: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.header{
    letter-spacing: -2px;
    font-size: 40px;
    font-weight: 1000;
    color: #220B57;
}
.sub{
    margin-top: 5%;
    color: #96949C;
    font-size: 16px;   
}
.sub-T{
    color: #96949C;
    font-size: 16px;
}
.email{
    width: 100%; 
    height: 55px; 
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #b8b4b4;
    padding: 15px;
    font-size: 16px;
    margin-top: 7%;
}
.submit{
    margin-top: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sendbutt{
    width: 130px;
    height: 40px;
    font-size: 40px;
    background-color: #392073;
    color: #fff;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    border: none;
}
.back{
    margin-top: 20px;
    font-size: 16px;
}
input:focus{
    outline-color: #603EAE;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 45px;
    height: 549px;
    width: 50%;
    overflow: hidden;
}
.email_icon{
    height: 200px;
    width: 200px;
}

@media only screen and (max-width: 1200px) {
    .right{
        display: none;
    }
}