<div id="home">

    <!---------------------------------HEADER-------------------------->
    <div class="header">
        <div class="header-cont">
            Ronskie's IT Solutions
        </div>
    </div>

    <!---------------------------------MONEY----------------------------->
    <div class="money">
        <div class="revenue">
            <div class="sales-cont">
                <div class="monthly">
                    Monthly Revenue
                </div>
                <div class="php">
                    PHP
                </div>
                <div class="value">
                    112, 481.03
                </div>
            </div>
        </div>
        <div class="profit">
            <div class="sales-cont">
                <div class="monthly">
                    Monthly Profit
                </div>
                <div class="php">
                    PHP
                </div>
                <div class="value">
                    72, 479.31
                </div>
            </div>
        </div>
    </div>

    <!----------------------------------SALES------------------------------->
    <div class="sales">
        <div class="sales-cont">
            <app-sales-graph></app-sales-graph>
        </div>
    </div>

    <!----------------------------------CONTACTS---------------------------->
    <div class="contacts">
        <div class="contacts-cont">
            <div class="table">
                <div class="table-container">
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Company</th>
                            <th>Status</th>
                            <th>Email</th>
                            <th>Contact Number</th>
                            <th>Facebook</th>
                            <th>Twitter</th>
                            <th>Instagram</th>
                        </tr>
                        <tr *ngFor="let contact of contacts">
                            <td>{{ contact.name }}</td>
                            <td>{{ contact.company }}</td>
                            <td><div class="statusBox">{{ contact.status }}</div></td>
                            <td>{{ contact.email }}</td>
                            <td>{{ contact.phoneNumber }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!------------------------------------MORE GRAPHS------------------------>
    <div class="more-graphs">
        <div class="pie">
            <div class="pie-cont">
                <app-segmentation-graph></app-segmentation-graph>
            </div>
        </div>
        <div class="radar">
            <div class="radar-cont">
                <app-frequency-graph></app-frequency-graph>
            </div>
        </div>
    </div>
</div>