<div class="cont">
    <div class="cont1">
        <div class="leftcont">
            <div class="opportunities">
                <div class="revenue">
                    <h2 class="rev-text">Revenue</h2>
                    <div class="php"><h4>PHP</h4></div>
                    <div class="money">
                        <h4>1000,000,000.00</h4>
                    </div>
                </div>
                <div class="profit">
                    <h2 class="prof-text">Profit</h2>
                    <div class="php"><h4>PHP</h4></div>
                    <div class="money">
                        <h4>1,000.00</h4>
                    </div>
                </div>       
            </div>
            <div class="deals">
                <div class="head-text"><h2>Recent Deals</h2></div>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Company</th>
                        <th>Status</th>
                        <th>Email</th>
                        <th>Contact Number</th>
                    </tr>
                    <tr>
                        <td>Jule Q.</td>
                        <td>CoCa Cola</td>
                        <td><div class="statusBox"> Sealed</div></td>
                        <td>sijdbuhsbdubsd</td>
                        <td>09606727641</td>
                    </tr>
                    <tr>
                        <td>Jule Q.</td>
                        <td>CoCa Cola</td>
                        <td><div class="statusBox"> Sealed</div></td>
                        <td>sijdbuhsbdubsd</td>
                        <td>09606727641</td>
                    </tr>
                    <tr>
                        <td>Jule Q.</td>
                        <td>CoCa Cola</td>
                        <td><div class="statusBox"> Sealed</div></td>
                        <td>sijdbuhsbdubsd</td>
                        <td>09606727641</td>
                    </tr>
                    <tr>
                        <td>Jule Q.</td>
                        <td>CoCa Cola</td>
                        <td><div class="statusBox"> Sealed</div></td>
                        <td>sijdbuhsbdubsd</td>
                        <td>09606727641</td>
                    </tr>
                    <tr>
                        <td>Jule Q.</td>
                        <td>CoCa Cola</td>
                        <td><div class="statusBox">Sealed</div></td>
                        <td>sijdbuhsbdubsd</td>
                        <td>09606727641</td>
                    </tr>
                </table>
            </div>
        </div>
        
        <div class="splt">
            <div class="todo">
                <div class="head-text"><h2>To-Do List</h2></div>
                <table>
                    <tr>
                        <th>Task</th>
                        <th>Assigned</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td><div class="box">Meeting</div></td>
                        <td>Mark Z.</td>
                        <td><div class="statusBox">Done</div></td>
                    </tr>
                    <tr>
                        <td><div class="box">Meeting</div></td>
                        <td>Mark Z.</td>
                        <td><div class="statusBox">Done</div></td>
                    </tr>
                    <tr>
                        <td><div class="box">Meeting</div></td>
                        <td>Mark Z.</td>
                        <td><div class="statusBox">Done</div></td>
                    </tr>
                </table>
            </div>
            <div class="calendar">
                <div class="head-text"><h2>Calendar</h2></div>
                
            </div>
        </div>
    </div>
</div>

