
<div id="home">
    <!---------------------------------HEADER-------------------------->
    <div class="header">
        <div class="header-cont" *ngIf=" userDetail | async as detail">
            <p class="companyname">{{detail.company}}</p>
        </div>
    </div>

    <!---------------------------------MONEY----------------------------->
    <div class="money" *ngIf="report | async as monthly">
        <div class="revenue">
            <div class="sales-cont">
                <div class="monthly">
                    Monthly Revenue
                </div>
                <div class="php">
                    PHP
                </div>
                <div class="value">
                    {{monthly.revenue | number: '1.2-2'}}
                </div>
            </div>
        </div>
        <div class="profit">
            <div class="sales-cont">
                <div class="monthly">
                    Monthly Profit
                </div>
                <div class="php">
                    PHP
                </div>
                <div class="value">
                    {{monthly.profit | number: '1.2-2'}}
                </div>
            </div>
        </div>
    </div>

    <!----------------------------------SALES------------------------------->
    <div class="sales">
        <div class="sales-cont">
            <app-sales-graph></app-sales-graph>
        </div>
    </div>

    <!----------------------------------CONTACTS---------------------------->
    <div class="contacts">
        <div class="contacts-cont">
            <p class="table-header">Contacts</p>
            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Company</th>
                            <th>Status</th>
                            <th>Email</th>
                            <th>Contact Number</th>
                            <th>Facebook</th>
                            <th>Twitter</th>
                            <th>Instagram</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let contact of contacts">
                            <td>{{ contact.name }}</td>
                            <td>{{ contact.companyName }}</td>
                            <td><app-status [contactId]="contact.id" [contactName]="contact.name" [contactStatus]="contact.status" (click)="navigation()"></app-status></td>
                            <td>{{ contact.email }}</td>
                            <td>{{ contact.phoneNumber }}</td>
                            <td>{{ contact.facebook }}</td>
                            <td>{{ contact.twitter }}</td>
                            <td>{{ contact.instagram }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
              
        </div>
    </div>

    <!------------------------------------MORE GRAPHS------------------------>
    <div class="more-graphs">
        <div class="pie">
            <div class="pie-cont">
                <app-segmentation-graph></app-segmentation-graph>
            </div>
        </div>
        <div class="radar">
            <div class="radar-cont">
                <app-frequency-graph></app-frequency-graph>
            </div>
        </div>
    </div>
</div>

