<div class="cnter">
    <div class="exit-button">
        <div class="clows">
            <i class='bx bx-x bx-sm' (click)="onNoClick()"></i>
        </div>
    </div>

    <div class="getstarted">
        <p class="header">Let's Get Started!</p>
        <p class="subtext">To start using MoneyGer you must</p>
        
        <span>
            <button class="create" (click)="CreateCompany()">Create a Company</button>
            <button class="join" (click)="JoinCompany()">Join a Company</button>
        </span>
    </div>
</div>


