* {
    font-family: 'Open Sans', sans-serif;
}

.getstarted {
    width: 100%;
    text-align: center; /* Center the content */
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: center;
    height: 100%;
}

.header {
    color: #220B57;
    margin-top: 10%;
    margin-bottom: 20px; 
    font-weight: bold;
    font-size: 45px;
}

.subtext {
    color: #4c4a4a;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px; /* Add some space between the two paragraphs */
}

.create{
    width: 30%;
    height: 50px;
    font-size: 20px;
    border: none;
    background-color: #220B57;
    color: #fff;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-top: 3%;
}

.join{
    width: 30%;
    height: 50px;
    font-size: 20px;
    border: none;
    background-color: #8956FF;
    color: #fff;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-top: 3%;
}


