<div id="tibuok">
    <div class="parent">
        <p class="title" (click)="dummy()">Employees</p>
        <div class="anak">
            <div class="search-bar">
                <input type="text" placeholder="Search..." [(ngModel)]="searchText">
            </div>
            
            <i class='bx bxs-plus-circle bx-md' *ngIf="!isAnyCheckboxChecked()" (click)="addEmployeeDialog()" style="cursor: pointer; margin-top: 2%;"></i>
            <i class='bx bxs-trash bx-md' *ngIf="isAnyCheckboxChecked()" style="cursor: pointer; margin-top: 2%;" (click)="deleteSelectedEmployee()"></i>

        </div>
    </div>
    
    
    <div class="main">
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th (click)="toggleSort('name')" (mouseover)="showSortingIndicator('name')" (mouseout)="hideSortingIndicator('name')" class="sortable-header">
                            <div class="header-content">
                                <span>Name</span>
                                <i class="bx" [ngClass]="{'bx-sort': !sortingOrders['name'], 'bx-sort-up': sortingOrders['name'] === 'asc', 'bx-sort-down': sortingOrders['name'] === 'desc'}" *ngIf="isHeaderHovered('name')"></i>
                            </div>
                        </th>
    
                        <th (click)="toggleSort('email')" (mouseover)="showSortingIndicator('email')" (mouseout)="hideSortingIndicator('email')" class="sortable-header">
                            <div class="header-content">
                                <span>Email</span>
                                <i class="bx" [ngClass]="{'bx-sort': !sortingOrders['email'], 'bx-sort-up': sortingOrders['email'] === 'asc', 'bx-sort-down': sortingOrders['email'] === 'desc'}" *ngIf="isHeaderHovered('email')"></i>
                            </div>
                        </th>
    
                        <th (click)="toggleSort('phone')" (mouseover)="showSortingIndicator('phone')" (mouseout)="hideSortingIndicator('phone')" class="sortable-header">
                            <div class="header-content">
                                <span>Contact Number</span>
                                <i class="bx" [ngClass]="{'bx-sort': !sortingOrders['phone'], 'bx-sort-up': sortingOrders['phone'] === 'asc', 'bx-sort-down': sortingOrders['phone'] === 'desc'}" *ngIf="isHeaderHovered('phone')"></i>
                            </div>
                        </th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let work of employees | search: searchText">
                        <td><input type="checkbox" class="check" (change)="onCheckboxChange(work.id, $event)"></td>
                        <td>{{work.name}}</td>
                        <td><a>{{work.email}}</a></td>
                        <td><a>{{work.phoneNumber}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>
