<div id="tibuok">
    <div class="parent">
        <p class="title">Employees</p>
        <div class="anak">
            <div class="search-bar">
                <input type="text" placeholder="Search..." [(ngModel)]="searchText">
            </div>
            
            <i class='bx bxs-plus-circle bx-md' *ngIf="!isAnyCheckboxChecked()" (click)="addEmployeeDialog()" style="cursor: pointer; margin-top: 2%;"></i>
            <i class='bx bxs-trash bx-md' *ngIf="isAnyCheckboxChecked()" style="cursor: pointer; margin-top: 2%;"></i>

        </div>
    </div>
    
    
    <div class="main">
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th class="sortable-header">
                            <div class="header-content">
                                <span>Name</span>
                            </div>
                        </th>
    
                        <th class="sortable-header">
                            <div class="header-content">
                                <span>Email</span>
                            </div>
                        </th>
    
                        <th class="sortable-header">
                            <div class="header-content">
                                <span>Contact Number</span>
                            </div>
                        </th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" class="check"></td>
                        <td><i class='bx bxs-pencil' style="color: #676565;" (click)="editEmployeeDialog()"></i></td>
                        <td>pangalan</td>
                        <td><a>emial</a></td>
                        <td><a>number</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>
