* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.cnter{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10%;
    color: #220B57;
}
.exit-button{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.clows{
    cursor: pointer;
    margin-right: 5px;
    margin-top: 5px;
}

.joinco {
    width: 100%;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: white;
    width: 450px;
    margin-top: 5%;
}

.company-code{
     width: 100%; 
     height: 35px; 
     border-radius: 10px;
     border: 1px solid #b8b4b4;
     padding: 10px;
     font-size: 14px;
     margin-bottom: 20px;
}

.cancel{
    width: 100%;
    height: 40px;
    font-size: 15px;
    border: none;
    background-color: #8956FF;
    color: #fff;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 30px;
}

.createbutt{
    width: 100%;
    height: 40px;
    font-size: 15px;
    border: none;
    background-color: #220B57;
    color: #fff;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
    margin-top: 20px;
}
.leybel{
    text-align: left;
}