<div class="cnter">
    <div class="exit-button">
        <div class="clows">
            <i class='bx bx-x bx-sm' (click)="onNoClick()"></i>
        </div>
    </div>

    <div class="joinco">
        <p Create class="title">Join a Company</p>
        <form action="/url">
            <label>
                <p class="leybel">Enter Company Code</p>
                <input class="company-code" type="text" [(ngModel)] = "joinCompany.companyId" name = "companyId" required>
            </label>

            <button class="createbutt" (click)="JoinCompany()">
                <div *ngIf="!loading">Join Company</div>
                <mat-spinner *ngIf="loading" [diameter]="30" color="primary"></mat-spinner>
            </button>
            <button class="cancel" (click)="onNoClick()">Cancel</button>
        </form>
    </div>
</div>


