<div id="loginpej">
    <div class="logincontainer">
        <img src="assets/logo.png" class="login-logo" alt="MoneyGer logo">
        <form action="/url">
            <label>
                <p>Email Address</p>
                <input class="emailfield" type="text" required>
            </label>
            <label class="password-label">
                <p>Password</p>
                <input [type]="changetype?'password':'text'" class="emailfield" required>
                <img (click)="viewpass()" class="view" [src]="changeicon?'assets/view.png':'assets/hide.png'">
            </label>
            <a class="forgot-passtext">Forgot Password?</a> <!---put routerLink for forgotpass-->
            <button class="login-button">
                Log In
            </button>
        </form> 
        <hr><p class="or">or</p>
        <button class="google-login">
            <img src="assets/google.png">
            Sign in with Google
        </button>
        <p class="noAcc">Don't have an account yet? <a class="sign" routerLink="/signup">Signup</a></p>
    </div>
</div>

