* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
#loginpej {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center; 
    overflow-y: auto;
    display: flex;
}
.loginpic{
    background-color: #220B57;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
.login-pic{
    margin-top: -80px;
    position: absolute;
    width: 500px;
}
.login-text{
    margin-top: 420px;
    width: 500px;
    color: white;
}
.pic-text{
    margin-top: 12px;
    font-size: 30px;
    letter-spacing: 3px;
}
.pic-text-small{
    font-size: 15px;
    letter-spacing: 3px;
    font-style: italic;
    color: #b8b4b4;
}

.logincontainer {
    background-color: white;
    padding: 20px;
    flex: 1;
    height: 100vin;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.emailfield{
     width: 480px; 
     height: 50px; 
     border-radius: 20px;
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
     border: 1px solid #b8b4b4;
     padding-left: 23px;   
     font-size: 16px;
     letter-spacing: normal;
     margin-top: 0px;
     margin-bottom: 10px;
}
label{
    color: #5a585f;
    font-size: 15px;
}
.logincontainer img{
    width: 230px;
    margin-bottom: 50px;
    margin-top: 100px;
}
.forgot-passtext{
    color: #603EAE;
    cursor: pointer;
    margin-top: 10px;
}
.forgot-passtext:hover{
    color: #8956FF;
    text-decoration-line: underline;
}
.login-button{
    width: 100%;
    height: 50px;
    font-size: 15px;
    border: none;
    background-color: #220B57;
    color: #fff;
    border-radius: 20px;
    padding: 8px;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-top: 50px;
    display: flex;
    justify-content: center;

}
.int-text{
    padding: 8px;
}
.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #3fb53f;
}
.logincontainer hr{
    margin-top: 5%;
    margin-bottom: -1px;
}
.or{
    font-size: 15px;
    margin: 0 48%;
}
.noAcc{
    margin-top: 8%;
    color: #5a585f;
    text-align: center;
}
.noAcc a{
    color: #603EAE;
}
.sign{
    text-decoration: none;
    color: #603EAE;
}
.sign:hover{
    text-decoration-line: underline;
}
.view{
    cursor: pointer;
    position: absolute;
    max-width: 20px;
    opacity: 0;
    top: 285px;
    left: 1360px;
}
.emailfield:focus + .view{
    opacity: 100;
}
.emailfield:focus{
    outline-color: #603EAE;
}

@media screen and (max-width: 1100px) {
    .loginpic{
        display: none;
    }
    
}

