<div id="loginpej">
  <div class="loginpic">
    <img src="assets/Login_pic.png" class="login-pic" alt="MoneyGer logo" />
    <div class="login-text">
      <h5 class="pic-text">Systematize Your Business,</h5>
      <h5 class="pic-text">Enhance workflow.</h5>
      <h2 class="pic-text-small">CRM system for your small business</h2>
    </div>
  </div>
  <div class="logincontainer">
    <img src="assets/logo.png" class="login-logo" alt="MoneyGer logo" />
    <form action="/url" [formGroup]="form" (ngSubmit)="login()">
      <div class="email-cont">
        <label>
          <p class="input-text">Email Address</p>
          <input
            class="emailfield"
            type="text"
            formControlName="email"
            required
          />
        </label>
      </div>

        <label class="password-label">
        <p class="input-text">Password</p>
      </label>

        <div class="box">
          <div class="input-box">
            <input class="emailfield" [type]="changetype ? 'password' : 'text'" formControlName="password" required />

            <label class="container-check">
              <input type="checkbox" (click)="viewpass()" class="check">Show password
            </label>

          </div>
        </div>


      
      <button class="login-button" type="submit">
        <p class="int-text" *ngIf="!loading">Login</p>
        <mat-spinner
          *ngIf="loading"
          [diameter]="30"
          color="primary"
        ></mat-spinner>
      </button>
      <div class="forgottu">
        <a class="forgot-passtext" routerLink="/forgotpass">Forgot Password?</a>
      </div>
      <!---Login button-->
    </form>
    <p class="noAcc">
      Don't have an account yet? <a class="sign" routerLink="/signup">Signup</a>
    </p>
  </div>
</div>
