@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700;900&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

#edit-employee{
    width: 400px;
    height: 100%
}

.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 900;
    color: #220B57;
    margin-bottom: 40px;
}

.name{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.first-name, .last-name{
    flex: 1;
}

.form input{
    width: 100%;
    border-radius: 10px;
    height: 25px;
    border: 2px solid #dddddd;
}

.actions{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.cancel{
    background-color: #8956FF;
    cursor: pointer;
    border-radius: 7px;
    font-size: 13px;
    font-weight: 700;
    width: 100px;
    padding: 7px;
    max-height: 61px;
    font-family: 'Lato', sans-serif; /* Corrected to 'Lato' */
    margin-right: 10px;
    border: none;
    color: #fff;

    &:hover{
        background-color: #a280f0;
    }
}

.save{
    background-color: #220B57;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 7px;
    font-size: 13px;
    font-weight: 700;
    width: 100px;
    padding: 7px;
    max-height: 61px;
    font-family: 'Lato', sans-serif; /* Corrected to 'Lato' */

    &:hover{
        background-color: #3a1888;
    }
}
