<div id="edit-employee">

  <div class="cont">

    <div class="title">
      Edit Employee
    </div>

    <div class="form">

      <div class="name">

        <div class="first-name">
          <label for="First Name">First Name</label><br>
          <input type="text" name="First Name">
        </div>

        <div class="last-name">
          <label for="Last Name">Last Name</label><br>
          <input type="text" name="Last Name">
        </div>

      </div>

      <div class="email">
        <label for="Email">Email</label><br>
          <input type="text" name="Email">
      </div>

      <div class="contact">
        <label for="Contact Number">Contact Number</label><br>
        <input type="text" name="Contact Number">
      </div>

      <div class="actions">
        <button class="cancel" (click)="closeDialog()">Cancel</button>
        <button class="save">Save</button>
      </div>
    </div>

  </div>

</div>