<div id="not-found">
    <p class="for"><strong>404</strong></p>
    <p class="pagenot"><strong>PAGE NOT FOUND</strong></p>
    <p class="thepage">The page you you are looking for might have been removed, <br> had its name changed or temporarily unavailable</p>
    <div class="buttcontainer">
        <button class="butt" (click)="toLogin()">Back to Home</button>
    </div>
    <img src="assets/man-confused.png" class="man">
    <img src="assets/buildings.jpg" class="buildings">
    <img src="assets/buildings.jpg" class="buildings2">
</div>