* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#not-found {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.for {
    text-align: center;
    font-size: 150px;
    color: #392073;
    margin-top: -5%;
    margin-bottom: 20px; /* Add margin bottom for spacing */
}

.pagenot {
    text-align: center;
    font-size: 30px;
    color: #392073;
    margin-top: 50px;
    margin-bottom: 20px; /* Add margin bottom for spacing */
}

.thepage {
    text-align: center;
    margin-bottom: 60px; /* Add margin bottom for spacing */
}

.buttcontainer {
    text-align: center;
    margin-bottom: 20px; /* Add margin bottom for spacing */
}

.butt {
    width: 150px;
    height: 50px;
    font-size: 18px;
    background-color: #392073;
    color: #fff;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
    font-weight: bold;
    border-color: #392073;
    box-shadow: none;
    border-style: solid;
}

.butt:hover {
    color: #392073;
    background-color: #fff;
    border-color: #392073;
}

.buildings {
    z-index: -1;
    max-height: 30%;
    position: absolute;
    bottom: 0;
    left: -2%;
}

.buildings2 {
    z-index: -2;
    max-height: 30%;
    position: absolute;
    bottom: 0;
    right: 0;
}
