<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<div class="container">
    <div class="logo">
        <a (click)="scrollToSection('home')">
            <img class="logopic" src="assets/logo.png" alt="Logo">
        </a>
    </div>
    <nav class="navbar">
        <ul>
            <li><a (click)="scrollToSection('home')">HOME</a></li>
            <li><a (click)="scrollToSection('features')">FEATURES</a></li>
            <li><a (click)="scrollToSection('about')">ABOUT</a></li>
            <li><a (click)="scrollToSection('contact')">CONTACT</a></li>
            <li><button routerLink="/login" class="get-started">Get Started</button></li>
        </ul>
    </nav>
</div>