#confirm-delete{
    width: 400px;
    display: flex;
    justify-content: center;
}

.cont{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.title{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: bold;
    color: #220B57;
    margin-bottom: 20px;
}

.body{
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    font-weight: 500;
    color: #343434;
    margin-bottom: 20px;
}

.buttons{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.cancel{
    background-color: #8956FF;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 7px;
    font-size: 13px;
    font-weight: 700;
    width: 100px;
    padding: 7px;
    max-height: 61px;
    font-family: 'Lato', sans-serif; /* Corrected to 'Lato' */
    margin-right: 10px;

    &:hover{
        background-color: #966cf7;
    }
}

.delete{
    background-color: #220B57;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 7px;
    font-size: 13px;
    font-weight: 700;
    width: 100px;
    padding: 7px;
    max-height: 61px;
    font-family: 'Lato', sans-serif; /* Corrected to 'Lato' */
    border: 2px solid #220B57;

    &:hover{
        background-color: #38148b;
    }
}