* {
    font-family: 'Open Sans', sans-serif;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-container {
    width: 90%; /* Set container width to 90% */
    overflow-x: auto; /* Enable horizontal scrolling */
    margin-top: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.423);
    background-color: #fff;
    margin-bottom: 25px;
    border-radius: 10px;
}

.table-container::-webkit-scrollbar {
    height: 8px;
}
.table-container::-webkit-scrollbar-track {
    background-color: #fff;
}
.table-container::-webkit-scrollbar-thumb {
    background: #4e23b2; 
    border-radius: 5px;
}
.table-container::-webkit-scrollbar-thumb:hover {
    background: #391887; 
}

.check{
    height: 15px;
    width: 15px;
}

.table {
    width: 100%; /* Allow table to expand based on content */
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed; /* Ensures fixed column widths */
}

th, td {
    padding: 10px; /* Add some padding for better readability */
    color: #220B57;
    border-bottom: 1px solid #494949;
}

th {
    background-color: white;
    color: #220B57;
    font-size: large;
    cursor: pointer;
}

tr:nth-child(even) td {
    background-color: #fff;
}

tr:hover td {
    background-color: #ededed;
    cursor: pointer;
}

.edit-contact{
    background-color: #220B57;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    border: 2px solid #220B57;
    margin-right: 5%;
}

.statusBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(188, 188, 188);
    height: 70%;
    width: 90%;
    border-radius: 10px;
}

.title {
    margin-top: 25px;
    margin-left: 5%;
    color: #220B57;
    font-size: 30px;
    font-weight: bold;
}

.parent {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.parent button {
    margin-top: 20px;
    background-color: #220B57;
    color: #fff;
    cursor: pointer;
    border-radius: 7px;
    font-size: 13px;
    font-weight: 700;
    width: 100px;
    padding: 7px;
    max-height: 61px;
    font-family: 'Lato', sans-serif;
    border: 2px solid #220B57;
    margin-right: 5%;
}

.delete-butt{
    width: 130px !important; 
}

.parent button:hover {
    background-color: #ffffff00;
    color: #220B57;
    cursor: pointer;
}

/* Add specific widths to the columns */
th:nth-child(1), td:nth-child(1) { width: 5%; }
th:nth-child(2), td:nth-child(2) { width: 5%; }
th:nth-child(3), td:nth-child(3) { width: 15%; }
th:nth-child(4), td:nth-child(4) { width: 15%; }
th:nth-child(5), td:nth-child(5) { width: 10%; }
th:nth-child(6), td:nth-child(6) { width: 20%; }

th:nth-child(7), td:nth-child(7) { width: 15%; }
th:nth-child(8), td:nth-child(8) { width: 15%; }
th:nth-child(9), td:nth-child(9) { width: 15%; }
th:nth-child(10), td:nth-child(10) { width: 15%; }




.search-bar {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
  
  .search-bar input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 450px;
    margin-right: 5px;
  }

  .search-bar i {
    cursor: pointer; /* Change cursor to pointer when hovering over the icon */
    color: #0056b3; /* Change icon color */
  }
  
  .search-bar i:hover {
    color: #007bff; /* Change icon color on hover */
  }
