<div class="parent">
    <p class="title">Contacts</p>
    <div class="search-bar">
        <input type="text" placeholder="Search..." [(ngModel)]="searchText">
    </div>
    <button *ngIf="!isAnyCheckboxChecked()" routerLink="/user/add-contact">Add Contact</button>
    <button *ngIf="isAnyCheckboxChecked()" (click)="deleteSelectedContacts()">Delete Contact</button>
</div>

<div class="main">
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th (click)="toggleSort('name')">Name</th>
                    <th (click)="toggleSort('company')">Company</th>
                    <th (click)="toggleSort('status')">Status</th>
                    <th (click)="toggleSort('email')">Email</th>
                    <th (click)="toggleSort('phoneNumber')">Contact Number</th>
                    <th (click)="toggleSort('facebook')">Facebook</th>
                    <th (click)="toggleSort('twitter')">Twitter</th>
                    <th (click)="toggleSort('instagram')">Instagram</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contact of contacts | search: searchText">
                    <td><input type="checkbox" class="check" (change)="onCheckboxChange(contact.id, $event)"></td>
                    <td><button class="edit-contact" routerLink="/user/edit-contact">Edit</button></td>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.company }}</td>
                    <td><div class="statusBox">{{ contact.status }}</div></td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.phoneNumber }}</td>
                    <td>{{ contact.facebook }}</td>
                    <td>{{ contact.twitter }}</td>
                    <td>{{ contact.instagram }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
